body {
    overflow-x: hidden;
}

.full-width {
    margin-left: map-get($grid-container-padding, small) / -2;
    margin-right: map-get($grid-container-padding, small) / -2;

    @include breakpoint(medium) {
        margin-left: map-get($grid-container-padding, medium) / -2;
        margin-right: map-get($grid-container-padding, medium) / -2;
    }

    @include breakpoint(large) {
        margin-left: map-get($grid-container-padding, large) / -2;
        margin-right: map-get($grid-container-padding, large) / -2;
    }

    @media screen and (min-width: $global-width) {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
.grid-container {

    @media screen and (min-width: 1201px) {
        max-width: 1132px;
    }
    @media screen and (max-width: 1200px) {
        max-width: 962px;
    }
    @media screen and (max-width: 992px) {
        max-width: 722px;
    }
    @media screen and (max-width: 768px) {
        max-width: 542px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (max-width: 576px) {
        width: 100%;
    }

}



.h2 {
    line-height: 30px;
}
.height-100 {
    height: 100%;
}
.margin-bottom-1 {
    margin-bottom: 15px;
    @include breakpoint(medium) {
        margin-bottom: 25px;
    }
    @include breakpoint(large) {
        margin-bottom: 40px;
    }
}
.margin-bottom-2 {
    margin-bottom: 35px;
    @include breakpoint(large) {
        margin-bottom: 95px;
    }
}
.margin-top-1 {
    margin-top: 15px;
    @include breakpoint(medium) {
        margin-top: 25px;
    }
    @include breakpoint(large) {
        margin-top: 40px;
    }
}
