.button, %button {
    width: 180px;
    &:hover {
        color: $white;
        background-color: $primary-color;
        opacity: 0.6;
    }
}
.button {
    height: 50px;
    border-radius: 25px;
}
.button-small {
    @extend %button;
    width: 110px;
    height: 40px;
    padding: 12px 10px;

}

.button {
    height: 50px;
    border-radius: 25px;

    &.square {
        border-radius: 0;
        width: 135px;
        height: 45px;
    }
}
.button-small {
    @extend %button;
    width: 110px;
    height: 40px;
    padding: 12px 10px;

}



a.see-more {
    position: relative;
    line-height: 22px;
    font-weight: 600;
    max-width: 105px;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content:'';
        border-bottom: 1px solid $primary-color;
        transition: all 0.4s;

    }

    &:hover {
        color: $primary-color;
        &:after{
            right: 100%;
        }
    }

    &--reverse {
        &:after {
            right: 100%;
        }

        &:hover {
            &:after{
                right: 0;
            }
        }
    }
}

a.see-more {
    position: relative;
    line-height: 22px;
    font-weight: 600;
    max-width: 105px;
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        content:'';
        border-bottom: 1px solid $primary-color;
        transition: all 0.4s;

    }

    &:hover {
        color: $primary-color;
        &:after{
            right: 100%;
        }
    }

    &--reverse {
        &:after {
            right: 100%;
        }

        &:hover {
            &:after{
                right: 0;
            }
        }
    }
}
/* social share kit override */
.ssk-twitter:before, .ssk-linkedin:before, .ssk-facebook:before, .ssk-instagram:before{
    color: $primary-color !important;
    transition: color 0.4s;
    margin-bottom: 30px;
    font-size: 20px;
}

.ssk-twitter:hover, .ssk-linkedin:hover, .ssk-facebook:hover, .ssk-instagram:hover{
    &:before{
        color: $black !important;
        transform: scale(1.2);
    }
}
