.mod {
    @extend .margin-bottom-1;

    &-txt {
        &__content {
            font-size: 14px;
            line-height: 28px;
            font-weight: 300;
            &--relative {
                position: relative;
            }

            &--colored-text{
                font-weight: 600;
                font-size: 18px;
                background-color: $light-gray;
                position: relative;
                padding: 50px 60px;

                @include breakpoint(medium) {
                    margin-left: 32px;
                    position: absolute;
                    top: 0;
                    left: 100%;
                    right: -40vw;
                    padding: 25px 30px;
                }
                @include breakpoint(large) {
                    top: 30px;
                    right: -35vw;
                    padding: 50px 60px;
                }
                @media screen and (min-width: 1201px) {
                    top: 30px;
                    right: -32vw;
                }


            }

            &--img{
                position: relative;
                img {
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                }
                @include breakpoint(medium) {
                    img {
                        max-width: 270px;
                    }
                    margin-left: 32px;
                    position: absolute;
                    top: 4px;
                    bottom: 0;
                    left: 100%;
                    right: -35vw;
                }
                @include breakpoint(large) {
                    img {
                        max-width: 340px;
                    }
                    right: -25vw;
                }
            }

            &--socials {
                position: absolute;
                top: 4px;
                bottom: 0;
                left: 103%;
                @include breakpoint(medium) {

                    left: 110%;
                }
            }
        }
    }

    &-cta {
        &__link {
            transition: all 0.4s;
            &:hover {
                color: $black;
                transform: scale(1.3);
            }

            &--external {
                line-height: 12px;
                height: 14px;
                position: relative;
                &:after {
                    position: absolute;
                    left: 115%;
                    font-size: 10px;
                    top: 4px;
                    width: 14px;
                    height: 14px;
                    content: "\2192";
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    border-radius: 7px;
                }

            }
        }
    }
    &-pdf {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &__file-name {
            display: inline-flex;
            padding-left: 30px;
            min-width: 80%;

            @include breakpoint(medium) {
                min-width: 90%;
            }
            line-height: 60px;
            border: 1px solid $light-gray;
        }
        .button {
            margin-bottom: 0;
            padding: 20px;
            height: 60px;
            max-width: 60px;
            &:visited, &:active {
                color: $white;
                background-color: $primary-color;
            }
            .picto {
                height: 20px;
                width: 20px;
                top: initial;
            }
        }
    }
}








.ajaxWait {
    display: none;
    position: fixed;
    top:0;
    background-color: rgba(#000, 0.2);
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45vh;
        width: 50px;
        height: 50px;
    }
}
