{% extends "base.twig" %}

{% block content %}
    {{ content|raw }}
    <div class="grid-container">
    {% include "partials/front-page/intro.twig" %}
    {% include "partials/front-page/news-section.twig" %}
    </div>
    {% include "partials/front-page/bloc-text-pictos.twig" %}
    <div class="grid-container">
    {% include "partials/front-page/socials-section.twig" %}
    </div>
{% endblock %}

