{% extends "base.twig" %}

{% block content %}
    <main>
        <div class="grid-container">
            <div class="grid-x align-center margin-bottom-2">
                <div class="cell small-12 large-7">
                    <h1>{{ title }}</h1>
                    <div class="social-share-kit">
                        <div class="ssk-sm ssk-group">
                            <div class="grid-x">
                                <a href="" class="cell small-1 ssk ssk-icon ssk-facebook"></a>
                                <a href="" class="cell small-1 ssk ssk-icon ssk-twitter"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 large-7">
                    {{ content|raw }}
                </div>
            </div>
        </main>
        </div>
{% endblock %}
