{% extends "base.twig" %}

{% block content %}
    {{ content|raw }}
    {% include "partials/loading-gif.twig" %}
    <div class="grid-container margin-bottom-2">
        <div class="posts__archive--navigation grid-x grid-margin-x align-center margin-bottom-2">
        {% for term in terms %}
            <a href="{{ function("get_category_link", term) }}" class="posts__archive--category posts__archive--category--link">{{ term.name | upper }}</a>
        {% endfor %}
        </div>
        {% if category %}<span class="text-center posts__archive--category posts__archive--category--title">{{ category|upper }}</span>{% endif %}
        <h1 class='text-center margin-bottom-2'>{{ title }}</h1>
        {% include "posts/selection.twig" %}

    </div>
{% endblock %}
