{% if post %}
<article class="posts__highlighted">
    <div class="posts__small-card--image posts__highlighted--image">
        <a href="{{ post.link }}">{{ function('wp_get_attachment_image', post._thumbnail_id, 'post-card-small') }}</a>
        <div class="posts__small-card--category">{{ post.categories[0]}}</div>
    </div>
    <p class="posts__small-card--author">{{ post.author|upper }}</p>
    <a href="{{ post.link }}"><h1 class="h2 posts__small-card--title">{{ post.title }}</h1></a>
</article>
{% endif %}
