{% if highlighted_element %}
<article class="posts__highlighted">
    <div class="posts__small-card--image posts__highlighted--image">
        <a href="{{ highlighted_element.link }}">{{ function('wp_get_attachment_image', highlighted_element.custom._thumbnail_id, 'post-card-small') }}</a>
        <div class="posts__small-card--category">{{ highlighted_element.categories[0]}}</div>
    </div>
    <a href="{{ highlighted_element.link }}"><h1 class="h2 posts__small-card--title">{{ highlighted_element.title }}</h1></a>
</article>
{% endif %}

