{% if posts|length > 0 %}
    <div class="posts_archive--selection" data-ajax="{{ ajax }}">
        <div class="posts grid-x grid-margin-x grid-margin-y align-center-top margin-bottom-1">
            {% for post in posts %}
                <div class="cell small-12 medium-4 posts__item">
                    {% include 'posts/card.twig' %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No results found.</p>
    </div>
{% endif %}
{% if multiplier > 0 %}
    <button class="button posts__archive--button js--archive-see-more" data-countedposts="{{ counted_posts }}" data-multiplier="{{ multiplier }}" data-termid="{{ termid }}">Afficher la suite</button>
{% endif %}
