<section class="posts__single--author margin-bottom-2">
    <div class="grid-container" style="background-image: url('{{ options.header_bg }}')">
        <div class="grid-x align-center">
            <div class="cell small-12 medium-10 large-8">
                <div class="posts__single--author--container">
                    <div class="posts__single--author--image">{{avatar}}</div>
                    <div class="posts__single--author--content">
                        <span class="posts__single--author--category">Rédacteur</span>
                        <h2 class="h1 posts__single--author--name">{{ post.author|upper }}</h2>
                        <a class="button" href="{{ author_link }}">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

