{% extends "base.twig" %}

{% block content %}
    {% include 'posts/single-content.twig' %}
    {% include 'posts/single-author.twig' %}
    {% include 'posts/single-last-posts.twig' %}
{% endblock %}
