<section class="posts__single--last-posts margin-bottom-2">
    <div class="grid-container">
        <small class="posts__single--last-posts--top-title">Autres articles</small>
        <h2 class="h1 posts__single--last-posts--title margin-bottom-1">Continuer la lecture</h2>
        <div class="grid-x grid-margin-x align-center-top margin-bottom-1">
            {% for post in lastposts %}
                <div class="cell small-12 {{ event.is_active  == 'yes' ? 'medium-6' : 'medium-4' }}">
                    {% include 'posts/card.twig' %}
                </div>
            {% endfor %}
        </div>
        <a href="{{ archive_url }}" class="button">{{ options.see_all_title }}</a>
    </div>
</section>
