{% if post %}
    <article class="posts__single grid-container">
        <header>
        <div class="grid-x align-center">
            <div class="cell small-12 medium-10 large-8">
                <div class="posts__archive--navigation posts__single--navigation">
                    {% for term in terms %}
                        <a href="{{ function("get_category_link", term) }}" class="posts__archive--category posts__archive--category--link">{{ term.name | upper }}</a>
                    {% endfor %}
                </div>
                <h1 class="posts__single--title">{{ post.title }}</h1>
                <small class="posts__single--date">Publié le {{ post.date|date("d.m.Y")}}</small> - {{ picto('picto-path') }}
            </div>
            <div class="cell small-12">
                <div class="posts__single--image margin-bottom-1">
                    {{ function('wp_get_attachment_image', post._thumbnail_id, 'post-single') }}
                </div>
            </div>
        </div>
        </header>
        <section class="posts__single--content margin-bottom-2">
            <div class="grid-x align-center">
                <div class="cell small-12 large-8">
                    {{ content|raw }}
                </div>
            </div>
        </section>
    </article>
{% endif %}
