<section class="front-page__bloc-text-pictos" style="background-image: url('{{ options.header_bg }}')">
    <div class="grid-container front-page__bloc-text-pictos--flex-container">
        <span class="front-page__bloc-text-pictos--top-title">{{ block_picto_text.top_title}}</span>
        <h2 class="h1 front-page__bloc-text-pictos--title">{{ block_picto_text.title}}</h2>
        <div class="grid-x grid-margin-x align-center-top">
            {% for item in block_picto_text.repeater %}
            <div class="cell small-12 medium-4">
            {% include "partials/front-page/bloc.twig" %}
            </div>
            {% endfor %}
        </div>
        <a href="{{ block_picto_text.link.url }}" target="{{ block_picto_text.link.target }}" class="button text-center">{{ block_picto_text.link.title }}</a>

    </div>
</section>
