<div class="front-page__bloc-text-pictos--bloc">
    <div class="front-page__bloc-text-pictos--bloc--picto">
    {{ picto('picto-'~item.picto[0].picto) }}
    </div>
    <h3 class="front-page__bloc-text-pictos--bloc--title">
    {{ item.title }}
    </h3>
    <div class="front-page__bloc-text-pictos--bloc--text">
    {{ item.text }}
    </div>
</div>
