<div class="front-page__news__event">
    <div class="front-page__news__event--image">
        {{ function('wp_get_attachment_image', event.image, 'event-card') }}
        <div class="front-page__news__event--content">
            <span class="front-page__news__event--category">{{ event.category }}</span>
            <h2 class="h1 front-page__news__event--title">{{ event.title }}</h2>
            <a href="{{ event.link.url }}" target="{{ event.link.target }}" class="see-more">{{ event.link.title }}</a>
        </div>
    </div>
</div>
