{% if highlighted_post %}
<section class="front-page__highlight">
    <a href={{ highlighted_post.link }} class="front-page__highlight--image">
        {{ function('wp_get_attachment_image', highlighted_post.custom._thumbnail_id, 'post-highlight') }}
    </a>
    <div class="front-page__highlight--content">
        <div class="front-page__highlight--category">
            {{ highlighted_post.categories[0]}}
        </div>
        <h1 class="front-page__highlight--title">{{ highlighted_post.title }}</h1>
        <div class="front-page__highlight--excerpt">{{ highlighted_post.post_excerpt }}</div>
        <a href={{ highlighted_post.link }} class="see-more">{{ options.see_more_title}}        </a>
    </div>
</section>
{% endif %}

