<section class="front-page__news margin-bottom-2">
    <div class="grid-x grid-margin-x">
        <div class="cell small-12 {{ event.is_active  == 'yes' ? 'medium-8' : '' }}">
            <div class="posts-previews--title-area">
                <h2 class="h5 posts-previews--title-area--title">{{ options.last_posts_title }}</h2>
                <a href="{{ archive_url }}" class="see-more see-more--reverse">{{ options.see_all_title }}</a>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x align-stretch">
        <div class="cell small-12 {{ event.is_active  == 'yes' ? 'medium-8' : '' }}">
            <div class="align-justify height-100">
                <div class="grid-x grid-margin-x align-center-top margin-bottom-1">
                    {% for post in lastposts %}
                        <div class="cell small-12 {{ event.is_active  == 'yes' ? 'medium-6' : 'medium-4' }}">
                            {% include 'posts/card.twig' %}
                        </div>
                    {% endfor %}
                </div>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <div class="posts-previews--title-area">
                            <h2 class="h5 posts-previews--title-area--title">{{ options.popular_posts_title }}</h2>
                            <a href="{{ archive_url }}" class="see-more see-more--reverse">{{ options.see_all_title }}</a>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <div class="grid-x grid-margin-x align-center-middle">
                            {% for post in popular_posts %}
                                <div class="cell small-12 {{ event.is_active  == 'yes' ? 'medium-6' : 'medium-4' }}">
                                    {% include 'posts/card.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if event.is_active  == 'yes' %}
        <div class="cell small-12 medium-4">
            {% include "partials/front-page/event.twig" %}
        </div>
        {% endif %}
    </div>
</section>

