.footer {
    &__newsletter {
        background-color: $light-gray;
        .grid-container {
            padding-top: 45px;
            padding-bottom: 34px;
            border-bottom: 1px solid $medium-gray;
        }

        p:last-of-type {
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }

        &--form {
            display: flex;
            flex-direction: row;

            input {
                border-radius: 0;

            }
        }
    }

    &__main {

        &--logo, &--title {

            @include breakpoint(small down) {
                margin-bottom: 20px;
                text-align: center;
                img {
                    max-width: 110px;
                }
            }
        }

        background-color: $light-gray;
        padding: 34px 0 65px;
        border-bottom: 1px solid $medium-gray;

        li {
            text-align: center;
            margin-bottom: 15px;
            @include breakpoint(medium) {
                text-align: left;
            }

        }
        a {
            font-size: 14px;
            font-weight: bold;
            color: $black;
            &:hover {
                color: $primary-color;
            }
        }
        a.regular {
            font-weight: 400;

        }
        li:last-of-type {
            margin-bottom: 0px;
        }

        ul {
            margin-left: 0;
        }
        li {
            list-style: none;
        }

        &--socials {
            display: flex;
            flex-direction: row;
            justify-content: center;


            align-items: center;

            .picto {
                height: 20px;
                color: $primary-color;
                transition: all 0.3s;
                &:hover {
                    color: $black;
                    transform: scale(1.1);
                }

            }
            .social {
                margin-right: 20px;
                &:last-of-type {
                    margin-right: 0;
                }
            }

            @include breakpoint(medium) {
                justify-content: space-between;
                .social {
                    margin-right: 0px;
                }
            }
        }

    }

    &__bottom {
        @include breakpoint(small down) {
            max-height: 80px;
        }
        background-color: $light-gray;
        border-bottom: 1px solid $medium-gray;

        &--links {
            line-height: 80px;
            @include breakpoint(small down) {
                line-height: 26px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
            }
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
        }

        &--link {
            margin-right: 38px;
            @include breakpoint(small down) {
                margin-right: 0px;
            }
            color: $black;

            &:hover {
                color: $primary-color;
            }
        }

        &--signature {
            text-align: right;
            img {
                max-width: 30px;
                transition: transform 0.4s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}
