.front-page {

    &__highlight {
        position: relative;
        margin-bottom: 35px;
        @include breakpoint(medium) {
            margin-bottom: 95px;
        }

        &--image img {

            @media screen and (max-width: 992px) {
                max-width: 600px;
            }
            @media screen and (min-width: 993px) {
                max-width: 800px;
            }
            @media screen and (max-width: 768px) {
                max-width: 500px;
            }
            @media screen and (max-width: 640px) {
                max-width: 100%;
            }
        }
        &--content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: $light-gray;
            padding: 16px 24px;
            max-width: 100%;
            margin-bottom: 25px;
            @include breakpoint(medium) {
                margin-bottom: 0px;
                position: absolute;
                right: -4%;
                max-width: 340px;
                top: 30px;
                bottom: 30px;
            }
            @media screen and (min-width: 993px) {
                right: 0;
                padding: 45px 50px;
                max-width: 430px;

            }
            @media screen and (min-width: 1201px) {
                max-width: 500px;
            }

        }
        &--title {
            margin-bottom: 0;
            @media screen and (max-width: 992px) {
                font-size: 22px;
                line-height: 28px;
            }
        }

        &--category {
            text-transform: uppercase;
            font-weight: 500;
        }

        &--text {
            font-weight: 300;
        }

    }

    &__news {

        &__event {

            @include breakpoint(small down) {
                text-align: center;

            }
            &--image {

                position: relative;
            }
            &--content {
                @include breakpoint(small down) {
                    max-width: 340px;
                    margin-left: auto;
                    margin-right: auto;

                }
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                @include breakpoint(large) {
                    bottom: 90px;
                }
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;

            }

            &--title {
                color: $white;
                margin-bottom: 35px;
                @include breakpoint(medium down) {
                    font-size: 24px;
                    line-height: 30px;
                }
                @include breakpoint(large) {
                    margin-bottom: 65px;
                    line-height: 36px;
                }
                font-weight: 300;
                letter-spacing: 3px;
            }

            .see-more {
                text-align: center;
                margin: 0 auto;
            }

            &--category {
                text-transform: uppercase;
                text-align: center;
                color: $primary-color;
                background-color: $light-gray;
                width: 100px;
                line-height: 40px;
                padding-right: 15px;
                padding-left: 15px;
                margin: 0 auto 15px;
                @include breakpoint(large) {
                    margin-bottom: 25px;
                }

            }

        }
    }

    &__bloc-text-pictos {

        padding-top: 25px;
        padding-bottom: 25px;
        background-color: $light-gray;
        background-position: 50vw;
        background-repeat: no-repeat;
        @include breakpoint(medium) {
            padding-top: 50px;
            padding-bottom: 50px;
            background-position: 70vw;

        }
        @include breakpoint(large) {
            padding-top: 75px;
            padding-bottom: 75px;
            background-position: 80vw;

        }

        &--top-title {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            font-weight: 300;
            margin-bottom: 14px;
        }
        &--title {
            text-align: center;
            margin-bottom: 45px;
        }

        &--flex-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &--bloc {
            text-align: center;
            margin-bottom: 50px;

            @include breakpoint(small down) {
                max-width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
            @include breakpoint(medium) {
                min-height: 260px;
            }

            &--picto {
                margin: 0 auto 40px;
                @include breakpoint(small down) {
                    margin-bottom: 15px;
                }
                .picto {
                    height: 5em;
                    width: 5em;
                }

                color: $primary-color;
            }
            &--title {
                font-size: 30px;
                margin-bottom: 6px;
                @media screen and (max-width: 992px) {
                    font-size: 24px;
                    min-height: 46px;
                }
                @include breakpoint(small down) {
                    font-size: 30px;
                    min-height: 0;
                }
            }
            &--text {
                font-weight: 300;
            }
        }





    }
}
