.header {
    &__top {
        margin-top: 20px;
        margin-bottom: 30px;
        @include breakpoint(medium) {
            margin-top: 36px;
            margin-bottom: 60px;
        }

        &--logo img{
            @include breakpoint(small down) {
                max-width: 80px;
            }
            width: 127px;
        }
    }
    &__burger-menu {
        margin-bottom: 0;
        .picto {
            width: 1em;
            height: 1em;
        }
        &--burger {
            width: 20px;
            height: 12px;
            margin-right: 10px;
        }

    }
    &__main-menu {
        background-color: $white;
        background-repeat: no-repeat;
        z-index: 10;
        opacity: 0;
        transition: all .4s;
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 300px;


        &--active {
            right: 0;
            opacity: 1;
            pointer-events: initial;
            padding-bottom: 135px;
            @include breakpoint(small down) {
                padding-bottom: 28px;
            }
        }

        &--logo{
            position: relative;
            margin: 28px auto 58px;
            @include breakpoint(small down) {
                margin-bottom: 28px;
            }
            img {
                width: 127px;
                @include breakpoint(small down) {
                    max-width: 80px;
                }

                @include breakpoint(medium) {
                    width: 206px;
                    height: 94px;
                }
            }
        }
    }

    &__category-menu {
        li {
            text-align: center;
            margin-bottom: 15px;
            @include breakpoint(medium) {
                text-align: left;
            }

            @include breakpoint(large) {
                margin-bottom: 30px;

            }
        }
        a {
            font-size: 24px;
            font-weight: 600;
            color: $black;
            &:hover {
                color: $primary-color;
            }
        }
        li:last-of-type {
            margin-bottom: 0px;
        }

    }
    &__page-menu {
        li {
            text-align: center;
            line-height: 38px;
            margin-bottom: 15px;
            @include breakpoint(medium) {
                text-align: left;
            }
            @include breakpoint(large) {
                margin-bottom: 30px;

            }
        }
        a {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 400;
            color: $black;

            &:hover {
                color: $primary-color;
            }
        }
        li:last-of-type {
            margin-bottom: 0px;
        }

    }
    ul {
        margin-left: 0;
    }
    li {
        list-style: none;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 0;
        @include breakpoint(medium) {
            right: 32px;
            top: 32px;
        }
        width: 32px;
        height: 32px;
        opacity: 1;
        transition: opacity 0.4s;
      }
      .close:hover {
        opacity: 0.6;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 3px;
        background-color: $primary-color;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
}
