.posts {
    &__small-card {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(medium) {
            max-width: 340px;
        }


        &--image {
            margin-bottom: 22px;
            position: relative;
            transition: all 0.4s;
            &:hover {
                transform: scale(1.05);
            }

        }

        &--category {
            position: absolute;
            bottom: 0;
            left: 0;
            color: $primary-color;
            background-color: $light-gray;
            width: 100px;
            line-height: 40px;
            padding-left: 15px;
        }

        &--title {
            margin-bottom: 20px;
            transition: color 0.4s;
            &:hover {
                color: $primary-color;
            }
            @include breakpoint(medium) {
                margin-bottom: 0;
                font-size: 18px;
                line-height: 24px;
                min-height: 72px;
            }
            @include breakpoint(large) {
                font-size: 24px;
                line-height: 30px;
                min-height: 90px;
            }
        }

        &--author {
            font-weight: 300;
            letter-spacing: 4px;
            font-size: 12px;
            line-height: 22px;
        }

    }

    &__highlighted--image {
        margin-bottom: 24px;
    }

    &-previews--title-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        @include breakpoint(large) {
            margin-bottom: 25px;
        }
        @include breakpoint(large) {
            margin-bottom: 40px;
        }
        border-bottom: 1px solid $light-gray;

        &--title {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    &__archive {

        &--navigation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 15px;
            border-bottom: 1px solid $light-gray;
        }

        &--button {
            display: block;
            margin: 0 auto;
        }

        &--category {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: 500;
            font-size: 12px;
            color: $black;
            &--link {
                margin-right: 30px;
                &:hover {
                    color: $primary-color;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
            &--title {
                display: block;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }

    &__single {
        &--navigation {
            justify-content: flex-start;
            border-bottom: none;
            margin-bottom: 20px;
        }

        &--date {

            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 2px;
            padding-right: 3px;
        }

        &--image {
            margin-top: 36px;
        }

        &--author {
            .grid-container {

                background-position: 50vw;
                background-repeat: no-repeat;
                padding-top: 35px;
                padding-bottom: 35px;
                @include breakpoint(medium) {
                    padding-top: 40px;
                    padding-bottom: 40px;

                }
                @include breakpoint(large) {
                    padding-top: 55px;
                    padding-bottom: 55px;

                }
            }
            background-color: $light-gray;

            &--container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
            }

            &--image img{
                width: 150px;
                border-radius: 50%;
                margin-right: 35px;
            }
            &--content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: left;

                .button {
                    margin-bottom: 0;
                }
            }

            &--category {
                letter-spacing: 4px;
                font-weight: 500;
                text-transform: uppercase;
            }


        }

        &--last-posts {
            &--top-title {

                letter-spacing: 5px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 16px;
                font-size: 14px;
                line-height: 20px;
                display: block;
                text-align: center;

            }

            &--title {
                text-align: center;
            }

            .button {
                display: block;
                margin: 0 auto;
            }
        }

    }
}
