<div class="mod mod-txt">
{% if fields.specific_content == "Non" %}
    <div class="mod-txt__content">{{ fields.content }}</div>
{% elseif fields.specific_content == "Bloc de texte coloré" and fields.colored_text %}
    <div class="mod-txt__content">
        <div class="grid-x">
            <div class="cell small-12 medium-6 large-7 mod-txt__content--relative">
                {{ fields.content }}
                <div class="mod-txt__content--colored-text">
                    {{ fields.colored_text }}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="mod-txt__content">
        <div class="grid-x grid-margin-x">
            <div class="cell small-10 large-12 mod-txt__content--relative">
                {{ fields.content }}
                <div class="mod-txt__content--socials">
                    {% include "partials/social-share-kit.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
</div>
