<div class="mod mod-cta">
    <a href="{{ fields.link.url }}" target="{{ fields.link.target }}" class="mod-cta__link {{ (fields.link_type == 'Lien externe') ? "mod-cta__link--external" : ((fields.link_type == "Bouton d'appel à l'action")  ? "button" : "")}}">
        {{ fields.link.title }}
    </a>
</div>
