<div class="mod mod-embed margin-bottom-1 margin-top-1">
    <div class="full-width">
        <div class="grid-container">
            <div class="responsive-embed">
                {{fields.video}}
            </div>
        </div>
    </div>
</div>
