<div class="mod mod-pdf">
    <span class="mod-pdf__file-name">{{ fields.file_name }}"</span>
    <a class="button square" href="{{ fields.file }}" target="_blank" rel="nofollow">{{ picto('picto-download') }}</a>
</div>
