<div class="mod mod-txt mod-txt-img">
    <div class="mod-txt__content">
        <div class="grid-x align-left">
            <div class="cell small-12 medium-6 large-7 mod-txt__content--relative">
                {{ fields.text }}
                <span class="mod-txt__content--img">
                    {{ function('wp_get_attachment_image', fields.image, 'full') }}
                </span>
            </div>
        </div>
    </div>
</div>
