<div class="footer__main--socials">
    {% for social in options.footer.socials %}
        <a class="social" href="{{ social.link.url }}" target="{{ social.link.target }}">
            {{ picto('picto-'~social.picto[0].picto) }}
        </a>
    {% endfor %}
</div>
