<footer class="footer">
    <div class="footer__newsletter">
        <div class="grid-container">
            <div class="grid-x  grid-margin-x align-middle align-justify">
                <div class="cell small-12 medium-6">
                    <h3 class="footer__newsletter--title">{{ options.newsletter.title}}</h3>
                    <div class="footer__newsletter--text">{{ options.newsletter.text}}</div>
                </div>
                <div class="cell small-12 medium-6">
                    <form action="" class="footer__newsletter--form">
                        <input type="email" name="email" id="email" placeholder="Votre adresse mail"><button class="button square" type="submit">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__main">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-top">
                <div class="cell small-12 medium-3">
                    <div class="footer__main--logo">
                        <a href="/">
                            {{ function('wp_get_attachment_image', options.logo, 'full') }}
                        </a>
                        <span class="close js--close"></span>
                    </div>
                </div>
                <div class="cell small-12 medium-3">
                    <h3 class="h4 footer__main--title">{{ options.footer.rubriques_title }}</h3>
                    {{ menu_footer }}
                </div>
                <div class="cell small-12 medium-3">
                    <h3 class="h4 footer__main--title">{{ options.footer.contact_column_title }}</h3>
                    <ul>
                        <li><a class="regular" href="mailto: {{ options.footer.email }}">{{ options.footer.email }}</a></li>
                        <li><a class="regular" href="tel: {{ options.footer.email }}">{{ options.footer.telephone }}</a></li>
                    </ul>
                </div>
                <div class="cell small-12 medium-3">
                    {% include 'partials/contact-socials.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid-container">
            <div class="grid-x grid-margin-x align-justify align-middle">
                <div class="cell small-8">
                    <div class="footer__bottom--links">
                    {% for link in options.footer.links %}
                    <a href="{{ link.link.url }}" target="{{ link.link.target }}" class="footer__bottom--link">{{ link.link.title }}</a>
                    {% endfor %}
                    </div>
                </div>
                <div class="cell small-4">
                    <div class="footer__bottom--signature">
                        <a href="{{ options.footer.signature.link.url }}" target="_blank">{{ function('wp_get_attachment_image', options.footer.signature.logo) }}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
