<header class="header">
    <div class="header__main-menu" style="background-image: url('{{ options.header_bg }}')">
        <div class="grid-container">
            <div class="header__main-menu--logo text-center">
                <a href="{{ home }}">
                    {{ function('wp_get_attachment_image', options.logo, 'full') }}
                </a>
                <span class="close js--close"></span>
            </div>
            <div class="grid-x align-center-middle">
                <div class="cell small-12 medium-6 large-8">
                    <div class="grid-x align-top">
                        <div class="cell small-12 medium-6">
                            {{ menu_categories }}
                        </div>
                        <div class="cell small-12 medium-6">
                            {{ menu_pages }}
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-6 large-4">
                    {% include 'posts/highlighted.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="header__top">
        <div class="grid-x align-justify align-middle">
            <div class="cell auto">
                <div class="header__top--logo">
                    <a href="{{ home }}">
                        {{ function('wp_get_attachment_image', options.logo, 'full') }}
                    </a>
                </div>
            </div>
            <div class="cell auto text-right">
                <div class="header__burger-menu js--burger button button-small">
                    <span class="header__burger-menu--burger">{{ picto('picto-'~options.burger_picto[0].picto) }}</span><span class="header__burger-menu--title">{{ options.burger_title }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
