<div class="social-share-kit">
    <div class="ssk-sm ssk-group">
        <div class="grid-y">
            <a href="" class="cell ssk ssk-icon ssk-facebook"></a>
            <a href="" class="cell ssk ssk-icon ssk-twitter"></a>
        </div>
    </div>
</div>
